{
  "globals": {
    "cwd": false,
    "expect": false,
    "instanceId": false,
    "proxyquire": false,
    "request": false,
    "server": false,
    "sinon": false
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "semi": 0
  }
}
